.about__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 56px 23px;
    background-color: #c3cbf3;
}

.about__container img {
    width: 300px;
    height: 100%;
    flex: 1;
    padding: 0px;
    background-color: #4057e9;
    border-radius: calc(700px/2);
}

.about__title {
    font-weight: bolder;
    font-size: 64px;
    padding: 11px;
    font-family: 'Barlow', sans-serif;

}

.about__text {
    flex: 3;
    padding: 68px 23px;
    max-width: 50%;
}

.about__desc {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 11px;
    line-height: 40px;

}

.about__btn {
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 11px;

}

.about__container button {
    background-color: #7840e9;
    color: white;
    padding: 20px 32px;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
    transition: all 0.5s ease-in-out;
}

.about__container button:hover {

    background-color: white;
    padding: 20px 32px;
    border: 2px solid #40e9ca;
    color: #40e99d;
    border-radius: 50px;
    font-size: 20px;
    font-weight: bold;
}



.content__container {
    padding: 56px 113px;
    display: flex;
    flex-direction: column;
}

.content__title {
    font-size: 56px;
    font-family: 'Barlow', sans-serif;
    padding: 0 0 27.5px;
    margin: 0px;
    margin-top: 90px;
}

.content__desc {
    padding: 30px 34px 45px 0px;

    font-size: 18px;    line-height: 1.75em;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    /* justify-content:start; */
}

.content__list__wrapper {
    padding: 0 34px 0px 0px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 230px;
    font-family: 'Barlow', sans-serif;

}.content__list__wrapper:nth-child(even) {
    padding: 0px 34px 0px 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    height: 200px;

}

.content__list__number-1,
.content__list__number-2,
.content__list__number-3 {
    font-size: 32px;
    width: 300px;
    font-family: 'Barlow', sans-serif;
    /* padding:11px; */
    padding-right: 0 0 18px;
    font-weight: bold;
    /* min-width: 100px; */
}

.content__list__desc {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    width: 1000px;
    padding: 0px 20px;
    line-height: 1.75em;
    /* margin-top: 20px; */

    /* padding: 20px; */
}

.content__list__text {
    display: flex;
    flex-direction: column;

}

.content__strong{
    font-weight: bold;
    font-size: 20px;
    padding: 20px 0px 20px 20px;
    
}
