.navbar {
    background-color: #ffffff;
    top: 0;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    padding: 10px 15px;
    position: sticky;
    border-top: solid 1px rgb(162, 162, 162);
    border-bottom: solid 1px rgb(162, 162, 162);
    font-family: "Roboto" sans-serif;
    z-index:100
  }

  .navbar img {
    padding: 0px 16px;
    height: 80px;
  }
  
  .navbar__items__wrapper {
    /* padding:16px; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 50%;
    text-align: center;
  }
  
  .navbar__items__wrapper a {
    padding: 16px 0;
    text-decoration: none;
    text-align: center;
    font-family: "Roboto", sans-serif;
  
    font-weight: 600;
  }
  
  .navbar__items__link {
    border-bottom: 0px solid #000a85;
    color: black;
    /* transition: all 0.6s ease-in-out; */
  }
  
  .navbar__items__link:hover {
    color: #000a85;
    border-bottom: 1px solid #000a85;
  
  }
  
  .navbar__items__link-active {
    color: #000a85 !important;
    border-bottom: 1px solid #000a85;
  }
  